li{
  list-style: none;
}

.header{
  height: 90px;
}

.header-logo{
  font-size: 36px;
  float: left;
}

.header-list li{
  float: left;
}

.main{
  background-color: silver;
  height: 600px;
}

.footer{
  background-color: #000055;
  height: 90px;
}

.footer-list li{
  float: right;
}
