li{
  float: left;
}

.header{
  color: #fff;
  background-color: #000055;
  height: 90px;
}

.header-logo{
  font-size: 36px;
  float: left;
}

.main{
  background-color: silver;
  height: 600px;
}

.footer{
  background-color: #ceccf3;
  height: 270px;
}
