body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li{
  list-style: none;
}

header{
  color: #000000;
  height: 150px;
}

.container{
  width: 100%;
  padding: 0 10px;
}

.header-logo{
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid #AAAAAA;
  padding-top: 20px;
}

.header-list{
  text-align: center;
}

.header-list a{
  margin: 10px 20px;
  padding: 10px 25px;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 5px #000033;
}

.btn{
  display: inline-block;
  text-decoration: none;
  background-color: #3b5998;
  color: white;
}

.btn:hover{
  opacity: 1;
}

.btn:active{
  position: relative;
  opacity: 1;
  box-shadow: none;
  top: 5px;
}

.main{
  border: 2px solid #AAAAAA;
  border-radius: 30px;
  padding: 30px;
  margin: 50px 400px 0 50px;
  height: 1000px;
}

.section-title{
  font-size: 30px;
}
